@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --dark-cyan: rgb(25, 162, 174);
  --very-dark-desaturated: rgb(45, 50, 72);
  --dark-grayish-blue: rgb(106, 111, 129);
  --dark-gray: rgb(150, 150, 150);
  --full-white: rgb(255, 255, 255);
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--dark-cyan);
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  font-size: 1em;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column;
  height: 100vh;
}

.card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--full-white);
  border-radius: 4%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.315);
  max-width: 280px;
  max-height: 400px;
}

.card-top {
  & img {
    display: block;
    width: 100%;
    border-radius: 4% 4% 0 0;
  }
}

.card-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  & img {
    position: relative;
    top: -5em;
    border-radius: 50%;
    border: 0.1em solid rgb(0, 0, 0);
    background-color: var(--full-white);
    height: 8em;
    width: 8em;

    &:hover {
      object-fit: cover;
    }
  }

  & h2 {
    margin: 0;
    margin-top: 0.5rem;
    color: var(--very-dark);
    font-size: 1.5rem;
    position: relative;
    top: -3em;
  }

  & p {
    font-size: 1.3rem;
    color: var(--dark-gray);
    margin: 0rem;
    position: relative;
    bottom: 2.8em;
  }

  & button {
    position: relative;
    bottom: 1.5rem;
    padding: 0.5em 2.5em;
    color: var(--full-white);
    background-color: var(--dark-cyan);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms;
    text-transform: uppercase;

    &:hover {
      transform: scale(1.1);
      background-color: #ffb413;
    }
  }
}

.card-footer {
  border-top: 1px solid var(--dark-gray);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;

  & h3,
  p {
    margin: 0.5rem;
  }
}

span,
.footer-p {
  color: var(--dark-grayish-blue);
}
